						/*            1200px Screen Start        */

@media only screen and (max-width: 1200px){



}

						/*            1200px Screen End        */

						/*            980px Screen Start        */

@media only screen and (max-width:980px){

	.header{
		height: 64px;
		padding:10px;
		border-radius: 0 0 4px 4px;
	}
	.header.search-active{border-radius: 0;}

	.header.search-active.nav-up{
		-webkit-transform:translateY(-128px);
		-moz-transform:translateY(-128px);
		transform:translateY(-128px);
	}

	.nav-up{
		-webkit-transform:translateY(-74px);
		-moz-transform:translateY(-74px);
		transform:translateY(-74px);
	}

	.search-bttn{display: inline-block !important;}

	.search{
		position: absolute;
	    top: 64px;
	    right: 0;
	    width: 100%;
	    padding:15px;
	    background:rgba(0,0,0,.85);
	    margin-top: 0;
	    visibility: hidden;
	    opacity: 0;
	    z-index: 5;
	    -webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
	}

	.search.active{
		visibility: visible;
		opacity: 1;
	}

	input[type="search"]{
		height: 34px;
		line-height: 34px;
	}

	.search input[type="search"]{padding:0 20px 0 30px;}

	.search button{
		top:18px;
		left:18px;
		width:28px;
		height: 28px;
		line-height: 32px;
		font-size: 10px;
	}

	.header-items{margin-top:7px;}

	.header-items a{
		width:32px;
		height: 32px;
		line-height: 30px;
		margin-right: 3px;
	}

	.header-items a.search-bttn:hover{
		color:#2e2e2e;
		background-color: transparent;
		border-color:#2e2e2e;
		-webkit-transform:scale(1,1);
		-moz-transform:scale(1,1);
		transform:scale(1,1);
	}

	.header-items a.search-bttn.active{
		color:#ffffff;
		background-color: #000000;
		border-color:#000000;
		-webkit-transform:scale(.9,.9);
		-moz-transform:scale(.9,.9);
		transform:scale(.9,.9);
	}

	.logo{
		position: relative;
		margin-left: 10px;
		z-index: 10;
	}

	.logo img{
		width:64px;
		background-color:#ffffff;
		border-width: 3px;
	}

	.banner{min-height: 550px;}

	.catogories-content li svg{
		width:24px !important;
		font-size: 16px;
		margin-left: 3px;
	}

	.image-boxes .section{
		min-height: 260px;
		height: auto !important;
	}

	.image-boxes .section-wrapper .section{border-bottom:1px solid #2e2e2e;;}

	.image-box-layer{
		height: 260px;
		opacity: 1;
	}

	.image-boxes .section.main-image{height: 450px !important;}

	.text-box,
	.top-box{margin-top:20px;}

	.title h3 svg{font-size: 28px;}

	.blog-slider .ms-slide .ms-layer strong{font-size: 25px !important;}
	.blog-slider .ms-slide .ms-layer p{font-size: 12px !important;}
	.blog-slider .ms-bullets{bottom:-38px;}

	.blog-slider .ms-bullet{
		width:10px;
		height: 10px;
		background:#000000;
	}
	
}

						/*            980px Screen End        */

						/*            860px Screen Start        */

@media only screen and (max-width:860px){

	.blog-listing > ul li{
		width:48%;
		margin-right: 4% !important;
	}
	.blog-listing > ul li:nth-child(2n+1){margin-right: 0 !important;}

}

						/*            860px Screen End        */

						/*            740px Screen Start        */

@media only screen and (max-width:740px){

	.news-image-box,
	.news-text-box{
		float: none !important;
		width:100%;
	}

	.news-text-box{padding:15px 5px 0 15px !important;}
	.news-box{padding-top:0;}

}

						/*            740px Screen End        */	

						/*            640px Screen Start        */

@media only screen and (max-width:640px){

	.image-box-layer .application-box img{width:80px !important;}

	.image-box-layer .application-box strong{
		font-size: 12px;
		margin-top:10px;
	}

	.top-box a.bttn{margin-top:20px;}
	.top-box svg{margin-bottom: 15px;}

	.title h3 svg{font-size: 24px;}

	.application-box{width:200px;}
	.carousel-slider .application-box a{padding:60px 15px 60px 15px;}
	.carousel-slider .application-box a img{width:100px !important;}
	.application-box a:not(.add-to-wishlist) svg{font-size: 22px;}
	.application-box a:not(.add-to-wishlist) svg:nth-of-type(1){left:10px;}
	.application-box a:not(.add-to-wishlist) svg:nth-of-type(2){left:40px;}
	.application-box a:not(.add-to-wishlist) svg:nth-of-type(3){left:70px;}

	.master-slider .application-box::before{
		right:25px;
		width:40px;
		height: 40px;
		background-size: 40px;
	}

	.ms-staff-carousel .ms-nav-prev,
	.ms-staff-carousel .ms-nav-next{margin-top:20px;}

	.owl-carousel .owl-stage-outer{padding:5px 0;}
	.owl-carousel .owl-dots{padding:10px 0;}

	.ads.type-2 > div{
		float: none;
		width:100%;
		margin:0 !important;
	}

	.static-banner{margin-bottom: 0;}
	.static-banner.blog-page{margin-bottom: 25px;}
	.static-banner.blog-page::after{display: none;}

}

						/*            640px Screen End        */											

						/*            560px Screen Start        */						

@media only screen and (max-width: 560px){

	.categories{padding:30px;}

	.categories-inner{padding:62px 12px 12px 12px;}

	.categories-tab{
		width:100%;
		height: 45px;
		overflow: hidden;
	}

	.categories-tab a{
		float: right;
		width:50%;
		height: 100%;
	}

	.categories-tab a span i{
		font-size: 14px;
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
	}

	.catogories-content li:not(:last-child){margin-bottom: 12px;}

	.catogories-content li a{font-size: 11px;}

	.categories-tab a:nth-child(1){border-radius: 0 7px 0 0;}
	.categories-tab a:nth-child(2){border-radius: 7px 0 0 0;}

	.catogories-content li svg{
		font-size: 14px;
		margin-left: 0;
	}

	.image-boxes .section{min-height: 200px;}

	.image-box-layer{
		height: 200px;
		background: rgba(21,21,21, .7);
	}

	.text-box,
	.top-box{margin-top:0;}

	.text-box i{font-size: 14px;}
	.text-box strong{font-size: 15px;}

	.text-box span{
		width:90px;
		height: 90px;
		font-size: 20px;
		padding-top:31px;
	}

	.app-section-box{margin-bottom: 30px;}
	.app-section-box::after{margin-top:30px;}

	.app-box{margin:30px;}

	.ads{margin:20px 0;}

	.title{
		padding:10px 0 0 0;
		margin-bottom: 30px;
	}

	.title a.bttn{
		position: static;
		margin-top:20px;
	}

	.app-items-wrapper{padding:20px 0;}

	#wrapper{padding-bottom: 0;}

	.footer{
		position: static;
		text-align: center;
		padding:25px 0 15px;
	}

	.footer ul{
		float: none;
		padding-top:25px;
	}

	.blog-slider .ms-slide .ms-layer p{display: none;}

	.blog-slider .ms-slide .ms-layer strong{
		font-size: 16px !important;
		margin-bottom: 20px;
	}

	.blog-listing > ul li{
		width:100%;
		margin-right: 0% !important;
	}

	.blog-content{height: auto;}

}

						/*            560px Screen End        */

						/*            400px Screen Start        */

@media only screen and (max-width:400px){

	.app-box{margin:20px 30px;}

	.footer ul li{
		display: block;
		margin:0 0 10px 0;
	}

	.blog-slider .ms-slide .ms-layer strong{font-size: 14px !important;}

}

						/*            400px Screen End        */										
