/*   Main Styles by Front-end   */

.body{min-height: 500px;}

.header{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 90px;
	padding:11px 20px;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -o-linear-gradient(left, #f7941e, #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
	background-color: #f7941e;
	z-index: 99999999;
}

.logo{
	float: right;
	margin-left: 25px;
}

.logo img{
	width:110px;
	margin:0;
	border:4px solid #f6f6f6;
	border-radius: 50%;
}

.search{
	position: relative;
	float: right;
	width:400px;
	margin-top:15px;
}

.search button{
	position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    min-width: 0;
    width: 34px;
    height: 34px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin-top: 0;
    background: #2e2e2e !important;
    border-radius: 50%;
}

.search button:hover{background: #000000 !important;}

.search button svg{
	font-size: 15px !important;
	margin:-2px 0 0 0 !important;
}

.header-items{
	float: left;
	margin-top:18px;
}

.header-items a{
	display: inline-block;
	vertical-align: middle;
	width:34px;
	height: 34px;
	line-height: 34px;
	color:#2e2e2e;
	text-align: center;
	margin-right: 4px;
	border:2px solid #2e2e2e;
	border-radius: 50%;
}

.header-items a:hover{
	color:#ffffff;
	background-color: #000000;
	border-color:#000000;
}

.main-banner .section{
	color:#ffffff;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover !important;
}

.image-box-description{padding:95px;}

.height-1{height: 786px;}
.height-2{height: 524px;}
.height-3{height: 262px;}

.image-box-layer{
	display: block;
	width:100%;
	height: 100%;
	opacity: 0;
	user-select: none;
	background: rgba(21,21,21, .85);
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.image-box-layer:hover{opacity: 1;}

.image-box-layer .application-box{width:auto;}
.image-box-layer .application-box img{width:100px !important;}
.image-box-layer .application-box strong{font-size: 14px;}

.text-box{padding:20px;}
.text-box i{
	display: block;
	font-style: normal;
	color:#2e2e2e;
	font-size: 17px;
	margin-bottom: 15px;
}

.text-box span{
	display: inline-block;
	min-width: 140px;
	font-size: 30px;
	padding:15px 10px 8px 10px;
	background-color:#2e2e2e;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 20px #121212;
	-moz-box-shadow: inset 0 0 20px #121212;
	box-shadow: inset 0 0 20px #121212;
}

.text-box strong{
	display: block;
	font-size: 18px;
	color:#2e2e2e;
	margin-top:15px;
}

.top-box{padding:20px;}
.top-box svg{
	font-size: 45px;
	margin-bottom: 20px;
}
.top-box strong{display: block;}
.top-box a.bttn{margin-top:25px;}

.ms-slide .ms-slide-bgcont img{
	width:90px !important;
	height: 90px !important;
	margin:auto !important;
	border-radius: 10px;
}

.title{margin-bottom: 40px;}

.app-section-box{margin-bottom: 40px;}
.app-section-box::after{
	content:'';
	display: block;
	width: 60%;
	height: 1px;
	margin: 40px auto 0 auto;
	background-color: #dfdfdf;
}

.application-box{width:150px;}
.carousel-slider .application-box{margin:auto;}
.carousel-items .application-box{margin:0 6.5px;}
.application-box a{
	position: relative;
	display: block;
	text-align: center;
	padding:30px 20px 20px 20px;
	background-color: #ffffff;
	border-radius: 5px;
}

.application-box a svg{
	position: absolute;
	top:7px;
	font-size: 18px;
}

.application-box a svg:nth-of-type(1){left:7px;}
.application-box a svg:nth-of-type(2){left:32px;}
.application-box a svg:nth-of-type(3){left:57px;}

.application-box a svg[data-icon="android"]{color: #a4c639;}
.application-box a svg[data-icon="apple"]{color: #000000;}
.application-box a svg[data-icon="windows"]{color: #0078d7;}

.application-box a:hover{
	-webkit-box-shadow: 0 0 20px #d4d4d4;
	-moz-box-shadow: 0 0 20px #d4d4d4;
	box-shadow: 0 0 20px #d4d4d4;
}

.application-box strong{
	display: block;
	font-size: 12px;
	margin-top:12px;
}

.application-box img{border-radius: 50%;}

.see-more{
	text-align: center;
	margin-top:30px;
}

.ads{
	overflow: hidden;
	margin:30px 0;
}

.ads a{display: block;}
.ads a:hover{opacity: .9;}
.ads img{border-radius: 7px;}

.ads.type-2 a{
	float: right;
	width:49%;
	margin-right: 2%;
}
.ads.type-2 a:first-child{margin-right: 0;}

.footer{
	overflow: hidden;
	color:#f6f6f6;
	padding:40px 0;
	background-color:#2e2e2e;
}

.footer ul{float: left;}
.footer ul li{
	display: inline-block;
	margin-right: 15px;
}
.footer ul li a:hover{color:#f7941e;}

.news-image-box{
	float: right;
	width:50%;
}

.news-image-box img{border-radius: 5px;}
.news-image-box a{display: block;}
.news-image-box a:hover{opacity: .9;}

.news-text-box{
	float: right;
	width:50%;
	padding:15px 35px 15px 15px;
}

.news-text-box a.bttn{margin-top:20px;}

.categories{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow-y: auto;
	padding:40px;
	visibility: hidden;
	opacity: 0;
	background:rgba(0,0,0,.8);
	z-index: 99999999999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.categories.active{
	visibility: visible;
	opacity: 1;
}

.categories-inner{
	position: relative;
	max-width: 780px;
	width:100%;
	min-height: 500px;
	overflow: hidden;
	padding:30px 90px 30px 30px;
	margin:auto;
	background-color: #ffffff;
	border-radius: 7px;
}

.categories-tab{
	position: absolute;
	top:0;
	right:0;
	width:60px;
	height: 100%;
	z-index: 10;
}

.categories-tab a{
	display: table;
	width:100%;
	height: 50%;
	color:#2e2e2e;
	user-select: none;
	background-color: #eaeaea;
}
.categories-tab a.active{color:#ffffff;}

.categories-tab a:nth-child(1).active{
	background: -webkit-linear-gradient(top, #f7941e , #f5bf3d);
    background: -o-linear-gradient(bottom, #f7941e, #f5bf3d);
    background: -moz-linear-gradient(bottom, #f7941e, #f5bf3d);
    background: linear-gradient(to bottom, #f7941e , #f5bf3d);
}

.categories-tab a:nth-child(2).active{
	background: -webkit-linear-gradient(bottom, #365f95 , #5b8ed1);
    background: -o-linear-gradient(top, #365f95, #5b8ed1);
    background: -moz-linear-gradient(top, #365f95, #5b8ed1);
    background: linear-gradient(to top, #365f95 , #5b8ed1);
}

.categories-tab a span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.categories-tab a span i{
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.catogories-content ul{
	float: right;
	width:50%;
}

.catogories-content li:not(:last-child){margin-bottom: 14px;}

.catogories-content li svg{
	display: inline-block;
	vertical-align: middle;
	width:28px !important;
	font-size: 18px;
	margin-left: 5px;
}

.catogories-content > div{display: none;}

#appTab li a:hover{color:#f7941e;}
#gameTab li a:hover{color:#5b8ed1;}

.login-register{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	padding-top:90px;
	z-index: 9999;
}

.login-register-box{
	width:360px;
	text-align: center;
	padding:25px;
	margin:25px auto;
	background:rgba(255,255,255,.8);
	border-radius: 7px;
}

.login-register-box form{margin-top:25px;}

.login-register-box input{
	background-color: #ffffff;
	border-color:#bababa;
}

.login-register-box .captcha{border-color:#b3b3b3;}

.login-register-box p:first-child{padding-top:0;}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url('../videos/video-bg.jpg') no-repeat center;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}

.form-text{
	font-size: 12px;
	text-align: right;
	padding-top:0;
}

.register-text{
	padding-top:25px;
	margin-top:25px;
	border-top:1px solid #cacaca;
}

.choose-radio{
	overflow: hidden;
	margin-bottom:20px;
	border-radius: 5px;
}

.choose-radio li{
	position: relative;
	float: right;
	width:50%;
}

.choose-radio li input{display: none;}

.choose-radio li label{
	display: block;
	text-align: right;
	font-size: 13px;
	color:#4e4e4e;
	padding:14px 40px 14px 12px;
	margin:0;
	cursor: pointer;
	user-select: none;
	background-color: #ffffff;
}

.choose-radio li label::before{
	content:'';
	position: absolute;
	top:16px;
	right:10px;
	width:16px;
	height:16px;
	border:1px solid #4a4a4a;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.choose-radio li input:checked + label{color:#ffffff;}
.choose-radio li input:checked + label::before{
	border-color:#ffffff;
	background:url('../images/assets/tick.png') no-repeat center #ffffff;
}

.choose-radio li:first-child input:checked + label{
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.choose-radio li:last-child input:checked + label{
	background:-webkit-linear-gradient(right, #365f95 , #5b8ed1);
	background:-moz-linear-gradient(left, #365f95, #5b8ed1);
	background:linear-gradient(to left, #365f95 , #5b8ed1);
}

.static-banner{
	position: relative;
	height: 570px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.static-banner::after{
	content:'';
	position: absolute;
	bottom:-1px;
	left:0;
	width:100%;
	height: 105px;
	z-index: 1111;
	background: url('../images/assets/banner-shape.png') no-repeat center center;
}

.static-banner.about{background-image: url('../images/banner/about.jpg');}
.static-banner.contact{background-image: url('../images/banner/contact.jpg');}
.static-banner.faq{background-image: url('../images/banner/faq.jpg');}

.static-banner h1{
	display: inline-block;
	width:755px;
	height: 171px;
	color:#ffffff;
	padding-top:40px;
	background:url('../images/assets/title-shape.png') no-repeat center;
}

.static-main{min-height: 500px;}

.static-sidebar{
	float: right;
	width:21%;
	margin-left: 3%;
}

.static-sidebar ul{
	overflow: hidden;
	border-radius: 7px;
}

.static-sidebar li a{
	display: block;
	padding:15px;
	margin-bottom: 1px;
	background-color: #ffffff;
}
.static-sidebar li:last-child a{margin-bottom: 0;}
.static-sidebar li a:hover{color:#f7941e;}

.static-sidebar li.active a{
	color:#ffffff;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.static-main{
	float: right;
	width:76%;
}

.contact-options li{
	float: right;
	width:32%;
	margin-right: 2%;
}
.contact-options li:first-child{margin-right: 0;}

.contact-options li a{
	display: block;
	height: 100px;
	color:#ffffff;
	text-align: center;
	padding:22px 15px;
	border-radius: 5px;
}

.contact-options li:nth-child(1) a{
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.contact-options li:nth-child(2) a{
	background:-webkit-linear-gradient(right, #365f95 , #5b8ed1);
	background:-moz-linear-gradient(left, #365f95, #5b8ed1);
	background:linear-gradient(to left, #365f95 , #5b8ed1);
}

.contact-options li:nth-child(3) a{
	background:-webkit-linear-gradient(right, #76c233 , #93d954);
	background:-moz-linear-gradient(left, #76c233, #93d954);
	background:linear-gradient(to left, #76c233 , #93d954);
}

.contact-options li:nth-child(1) a:hover{
	background: -webkit-linear-gradient(right, #f5bf3d , #f7941e);
    background: -moz-linear-gradient(left, #f5bf3d, #f7941e);
    background: linear-gradient(to left, #f5bf3d , #f7941e);
}

.contact-options li:nth-child(2) a:hover{
	background:-webkit-linear-gradient(right, #5b8ed1 , #365f95);
	background:-moz-linear-gradient(left, #5b8ed1, #365f95);
	background:linear-gradient(to left, #5b8ed1 , #365f95);
}

.contact-options li:nth-child(3) a:hover{
	background:-webkit-linear-gradient(right, #93d954 , #76c233);
	background:-moz-linear-gradient(left, #93d954, #76c233);
	background:linear-gradient(to left, #93d954 , #76c233);
}

.contact-options li svg{font-size: 30px;}

.contact-options li strong{
	display: block;
	margin-top:5px;
}

.contact-form p{
	font-size: 13px;
	text-align: right;
	margin-bottom: 20px;
}

.captcha{
	position: relative;
	max-width: 226px;
	text-align: center;
	padding:15px;
	margin:auto;
	border:1px solid #e4e4e4;
	border-radius: 5px;
}
.captcha img{
	display: inline-block;
	vertical-align: middle;
	width:150px;
	border-radius: 4px;
}

.refresh-captcha{
	display: inline-block;
	vertical-align: middle;
	width:40px;
	height: 81px;
	line-height: 81px;
	font-size: 12px;
	color:#ffffff;
	text-align: center;
	background-color: #4a4a4a;
	border-radius: 4px;
}
.refresh-captcha:hover{background-color:#2e2e2e;}

.captcha input{margin-top:12px;}




/*   Added Styles by Back-end   */







/*   Added Styles After Q&A   */






