/*   Main Styles by Front-end   */

.header{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 90px;
	padding:11px 20px;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
	background-color: #f7941e;
	z-index: 99999999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.logo{
	float: right;
	margin-left: 25px;
}

.logo img{
	width:110px;
	margin:0;
	border:4px solid #f6f6f6;
	border-radius: 50%;
}

.search-bttn{display: none !important;}

.search{
	position: relative;
	float: right;
	width:400px;
	margin-top:15px;
}

.search button{
	position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    min-width: 0;
    width: 34px;
    height: 34px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin-top: 0;
    background: #2e2e2e !important;
    border-radius: 50%;
}

.search button:hover{
	background: #000000 !important;
	-webkit-transform:scale(.9,.9);
	-moz-transform:scale(.9,.9);
	transform:scale(.9,.9);
}

.search button svg{
	font-size: 15px !important;
	margin:-2px 0 0 0 !important;
}

.header-items{
	float: left;
	margin-top:18px;
}

.header-items a{
	display: inline-block;
	vertical-align: middle;
	width:34px;
	height: 34px;
	line-height: 34px;
	color:#2e2e2e;
	text-align: center;
	margin-right: 4px;
	user-select: none;
	border:2px solid #2e2e2e;
	border-radius: 50%;
}

.header-items a:hover{
	color:#ffffff;
	background-color: #000000;
	border-color:#000000;
	-webkit-transform:scale(.9,.9);
	-moz-transform:scale(.9,.9);
	transform:scale(.9,.9);
}

.main-banner .section{
	overflow: hidden;
	color:#ffffff;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover !important;
}

.image-box-description{padding:95px;}

.height-1{height: 786px;}
.height-2{height: 524px;}
.height-3{height: 262px;}

.image-box-layer{
	display: block;
	width:100%;
	height: 100%;
	opacity: 0;
	user-select: none;
	background: rgba(21,21,21, .85);
}

.image-box-layer:hover{
	opacity: 1;
	-webkit-animation: scaling .4s ease-in-out;
	animation: scaling .4s ease-in-out;
}

@keyframes scalingXY{
	0%{transform:scale(1,1);}
	50%{transform:scale(.9,.9);}
	100%{transform:scale(1,1);}
}

@-webkit-keyframes scalingXY{
	0%{-webkit-transform:scale(1,1);}
	50%{-webkit-transform:scale(.9,.9);}
	100%{-webkit-transform:scale(1,1);}
}

@keyframes scaling{
	0%{transform:scale(1,1);}
	50%{transform:scale(1.1,1.1);}
	100%{transform:scale(1,1);}
}

@-webkit-keyframes scaling{
	0%{-webkit-transform:scale(1,1);}
	50%{-webkit-transform:scale(1.1,1.1);}
	100%{-webkit-transform:scale(1,1);}
}

@keyframes scaling2X{
	0%{transform:scale(1,1);}
	50%{transform:scale(1.3,1.3);}
	100%{transform:scale(1,1);}
}

@-webkit-keyframes scalingXX{
	0%{-webkit-transform:scale(1,1);}
	50%{-webkit-transform:scale(1.3,1.3);}
	100%{-webkit-transform:scale(1,1);}
}

@keyframes scalingRev{
	0%{transform:scale(1,1);}
	50%{transform:scale(1.1,1.1);}
	100%{transform:scale(1,1);}
}

@-webkit-keyframes scalingRev{
	0%{-webkit-transform:scale(1,1);}
	50%{-webkit-transform:scale(1.1,1.1);}
	100%{-webkit-transform:scale(1,1);}
}

.image-box-layer .application-box{width:auto;}
.image-box-layer .application-box img{width:100px !important;}
.image-box-layer .application-box strong{font-size: 14px;}

.text-box{padding:21px;}
.text-box i{
	display: block;
	font-style: normal;
	color:#2e2e2e;
	font-size: 15px;
	margin-bottom: 10px;
}

.text-box span{
	display: inline-block;
	width:110px;
	height: 110px;
	font-size: 25px;
	padding-top:37px;
	user-select: none;
	background:#212121;
	border:3px solid #000000;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 15px #919191;
	-moz-box-shadow: 0 0 15px #919191;
	box-shadow: 0 0 15px #919191;
}

.text-box span:hover{
	-webkit-animation: scalingXY .4s ease-in-out;
	animation: scalingXY .4s ease-in-out;
}

.text-box strong{
	display: block;
	font-size: 16px;
	color:#2e2e2e;
	margin-top:15px;
}

.top-box{padding:20px;}
.top-box svg{
	font-size: 45px;
	margin-bottom: 20px;
}
.top-box strong{display: block;}
.top-box a.bttn{margin-top:25px;}

.carousel-slider .ms-slide .ms-slide-bgcont img{
	width:90px !important;
	height: 90px !important;
	margin:auto !important;
	border-radius: 10px;
}

.title{
	position: relative;
	padding: 15px 0 0 200px;
	margin-bottom: 40px;
}

.title a.bttn{
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
}

.title h3{color:#212121;}
.title h3 svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 32px;
	color:#f7941e;
	margin-left: 5px;
}

.app-section-box{margin-bottom: 40px;}
.app-section-box::after{
	content:'';
	display: block;
	width: 60%;
	height: 1px;
	margin: 40px auto 0 auto;
	background-color: #dfdfdf;
}

.application-box{width:220px;}
.carousel-slider .application-box{margin:auto;}
.carousel-items .application-box{margin:0 6.5px;}
.application-box a:not(.add-to-wishlist){
	position: relative;
	display: block;
	text-align: center;
	padding:50px 15px 70px 15px;
	background-color: #ffffff;
	border-radius: 5px;
}

.application-box a:not(.add-to-wishlist) svg{
	position: absolute;
	top:12px;
	font-size: 26px;
}

.application-box a:not(.add-to-wishlist) svg:nth-of-type(1){left:15px;}
.application-box a:not(.add-to-wishlist) svg:nth-of-type(2){left:50px;}
.application-box a:not(.add-to-wishlist) svg:nth-of-type(3){left:85px;}

svg[data-icon="android"]{color: #a4c639;}
svg[data-icon="apple"]{color: #000000;}
svg[data-icon="windows"]{color: #0078d7;}

.application-box strong{
	display: block;
	font-size: 12px;
	margin-top:12px;
}

.master-slider .application-box a{border:2px solid #212121;}
.master-slider .application-box strong{
	position: absolute;
	bottom: 0;
    left: 0;
	color: #ffffff;
    width: 100%;
    padding: 13px 5px 11px 5px;
    margin-top:0;
    background-color: #212121;
    -webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.master-slider .application-box::before{
	content:'';
	position: absolute;
	top:5px;
	right:15px;
	width: 50px;
	height: 50px;
	background:url('../images/icons/trophy.png') no-repeat center;
	z-index: 10;
}

.master-slider .application-box a:hover{border-color:#f7941e;}
.master-slider .application-box a:hover strong{background-color:#f7941e;}

.application-box img{border-radius: 50%;}

.app-box{
	display: inline-block;
	margin: 30px 40px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.app-front{
	width: 200px;
	height: 250px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.app-front:hover{
	-webkit-transform: rotateY(-75deg) translateZ(20px);
	-moz-transform: rotateY(-75deg) translateZ(20px);
	transform: rotateY(-75deg) translateZ(20px);
}

.app-front .poster, 
.app-front .info{
	position: absolute;
	width: 200px;
	height: 250px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.app-front .poster{
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	transform: translateZ(100px);
}

.app-front .poster .application-box{
	position: relative;
	width:200px;
	text-align: center;
	padding:44px 15px 20px 15px;
}

.app-front .poster .application-box svg{
	position: absolute;
	top:12px;
	font-size: 18px;
}
.app-front .poster .application-box svg:nth-of-type(1){left:10px;}
.app-front .poster .application-box svg:nth-of-type(2){left:35px;}
.app-front .poster .application-box svg:nth-of-type(3){left:60px;}

.app-front .info{
	font-size: 11px;
	-webkit-transform: rotateY(90deg) translateZ(100px);
	-moz-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
}

.app-front .info-inner{padding:10px;}

.csstransforms3d .app-front::after{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left:0;
	bottom: 0;
	-webkit-box-shadow: 0 20px 40px #9a9a9a;
	-moz-box-shadow: 0 20px 40px #9a9a9a;
	box-shadow: 0 20px 40px #9a9a9a;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(100px);
	-moz-transform: rotateX(90deg) translateY(100px);
	transform: rotateX(90deg) translateY(100px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .app-front:hover::after{
	-webkit-box-shadow: 20px 0px 40px #9a9a9a;
	-moz-box-shadow: 20px 0px 40px #9a9a9a;
	box-shadow: 20px 0px 40px #9a9a9a;
}

.info header{
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.info p{
	line-height: 1.5;
	padding-top:0;
}

.info a.bttn{
	display: block;
	min-width: 0;
	width:130px;
	height: 35px;
	line-height: 31px;
	font-size: 12px;
	margin:12px auto 0 auto;
}

.app-front .poster,
.app-front .info,
.app-front .info header{
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .app-front .poster{box-shadow: inset 0px 0px 40px rgba(255,255,255,0);}

.csstransforms3d .app-front:hover .poster{ox-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);}

.csstransforms3d .app-front .info, 
.csstransforms3d .app-front .info header{box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);}

.csstransforms3d .app-front:hover .info, 
.csstransforms3d .app-front:hover .info header{box-shadow: inset 0px 0px 40px rgba(0,0,0,0);}

.no-csstransforms3d .app-front .poster, 
.no-csstransforms3d .app-front .info{position: relative;}

.see-more{
	text-align: center;
	margin-top:30px;
}

.ads{
	overflow: hidden;
	margin:30px 0;
}

.ads a{display: block;}
.ads a:hover{
	-webkit-transform:scale(.9,.9);
	-moz-transform:scale(.9,.9);
	transform:scale(.9,.9);
}
.ads img,
.ads .item{border-radius: 7px;}

.ads.type-2 > div{
	float: right;
	width:49%;
	margin-right: 2%;
}
.ads.type-2 > div:first-child{margin-right: 0;}

.footer{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	overflow: hidden;
	color:#f6f6f6;
	padding:40px 0 39px 0;
	background-color:#2e2e2e;
	z-index: 10;
}

.footer ul{float: left;}
.footer ul li{
	display: inline-block;
	margin-right: 15px;
}
.footer ul li a{display: block;}
.footer ul li a:hover{
	color:#f7941e;
	-webkit-transform:scale(.9,.9);
	-moz-transform:scale(.9,.9);
	transform:scale(.9,.9);
}

.news-box{padding-top:20px;}
.news-image-box{
	float: right;
	width:50%;
}

.news-image-box img{border-radius: 7px;}
.news-image-box a{display: block;}
.news-image-box a:hover{opacity: .9;}

.news-text-box{
	float: right;
	width:50%;
	padding:0 35px 0 15px;
}

.news-text-box a.bttn{margin-top:20px;}

.news-box.reverse .news-image-box{float: left;}
.news-box.reverse .news-text-box{padding:0 0 0 35px;}

.categories{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow-y: auto;
	padding:40px;
	visibility: hidden;
	opacity: 0;
	background:rgba(0,0,0,.8);
	z-index: 99999999999;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	-webkit-animation: scalingRev .4s ease-in-out;
	animation: scalingRev .4s ease-in-out;
}

.categories.active{
	visibility: visible;
	opacity: 1;
	-webkit-animation: scaling .4s ease-in-out;
	animation: scaling .4s ease-in-out;
}

.categories a.close{
	right:auto;
	left:-10px;
}

.categories-inner{
	position: relative;
	max-width: 780px;
	width:100%;
	min-height: 500px;
	padding:30px 90px 30px 30px;
	margin:auto;
	background-color: #ffffff;
	border-radius: 7px;
}

.categories-tab{
	position: absolute;
	top:0;
	right:0;
	width:60px;
	height: 100%;
	z-index: 10;
}

.categories-tab a{
	display: table;
	width:100%;
	height: 50%;
	color:#2e2e2e;
	user-select: none;
	background-color: #eaeaea;
}
.categories-tab a.active{color:#ffffff;}

.categories-tab a:nth-child(1){border-top-right-radius: 7px;}
.categories-tab a:nth-child(2){border-bottom-right-radius: 7px;}

.categories-tab a:nth-child(1).active{
	background: -webkit-linear-gradient(top, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(bottom, #f7941e, #f5bf3d);
    background: linear-gradient(to bottom, #f7941e , #f5bf3d);
}

.categories-tab a:nth-child(2).active{
	background: -webkit-linear-gradient(bottom, #365f95 , #5b8ed1);
    background: -moz-linear-gradient(top, #365f95, #5b8ed1);
    background: linear-gradient(to top, #365f95 , #5b8ed1);
}

.categories-tab a span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.categories-tab a span i{
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.catogories-content ul{
	float: right;
	width:50%;
}

.catogories-content li:not(:last-child){margin-bottom: 14px;}

.catogories-content li svg{
	display: inline-block;
	vertical-align: middle;
	width:28px !important;
	font-size: 18px;
	margin-left: 5px;
}

.catogories-content > div{display: none;}

#appTab li a:hover{color:#f7941e;}
#gameTab li a:hover{color:#5b8ed1;}

.login-register{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	padding-top:90px;
	z-index: 9999;
}

.login-register-box{
	width:360px;
	text-align: center;
	padding:30px 40px;
	margin:25px auto;
	background:rgba(255,255,255,.8);
	border-radius: 7px;
}

.login-register-box p{font-size: 13px;}
.login-register-box form{margin-top:25px;}

.login-register-box input{
	background-color: #ffffff;
	border-color:#bababa;
}

.login-register-box button{
	display: block;
	width:100%;
}

.login-register-box .captcha{border-color:#b3b3b3;}

.login-register-box p:first-child{padding-top:0;}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url('../videos/video-bg.jpg') no-repeat center;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}

.form-text{
	font-size: 12px;
	text-align: right;
	padding-top:0;
}

.register-text{
	padding-top:25px;
	margin-top:25px;
	border-top:1px solid #cacaca;
}

.choose-radio{
	overflow: hidden;
	margin-bottom:20px;
	border-radius: 5px;
}

.choose-radio li{
	position: relative;
	float: right;
	width:50%;
}

.choose-radio li input{display: none;}

.choose-radio li label{
	display: block;
	text-align: right;
	font-size: 13px;
	color:#4e4e4e;
	padding:15px 35px 13px 10px;
	margin:0;
	cursor: pointer;
	user-select: none;
	background-color: #ffffff;
}

.choose-radio li label::before{
	content:'';
	position: absolute;
	top:16px;
	right:10px;
	width:16px;
	height:16px;
	border:1px solid #4a4a4a;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.choose-radio li input:checked + label{color:#ffffff;}
.choose-radio li input:checked + label::before{
	border-color:#ffffff;
	background:url('../images/assets/tick.png') no-repeat center #ffffff;
}

.choose-radio li:first-child input:checked + label{
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.choose-radio li:last-child input:checked + label{
	background:-webkit-linear-gradient(right, #365f95 , #5b8ed1);
	background:-moz-linear-gradient(left, #365f95, #5b8ed1);
	background:linear-gradient(to left, #365f95 , #5b8ed1);
}

.static-banner{
	position: relative;
	height: 570px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.static-banner::after{
	content:'';
	position: absolute;
	bottom:-1px;
	left:0;
	width:100%;
	height: 105px;
	z-index: 1111;
	background: url('../images/assets/banner-shape.png') no-repeat center center;
}

.static-banner.about{background-image: url('../images/banner/about.jpg');}
.static-banner.contact{background-image: url('../images/banner/contact.jpg');}
.static-banner.faq{background-image: url('../images/banner/faq.jpg');}

.static-banner h1{
	display: inline-block;
	width:755px;
	height: 171px;
	color:#ffffff;
	padding-top:40px;
	background:url('../images/assets/title-shape.png') no-repeat center;
}

.static-banner.specific-page{height: 520px;}
.static-banner.blog-page{height: auto;}
.static-banner.specific-page .table-display{background:rgba(0,0,0,.35);}

.static-banner.dashboard{
	height: 340px;
	background: #e7e7e7;
}

.specific-layer{
	font-size: 19px;
	color:#f7941e;
	padding-bottom: 40px;
	text-shadow: 0 0 1px #000000;
}

.specific-layer h2{
	font-size: 40px;
	color:#ffffff;
	text-shadow: 0 0 4px #121212;
}

.specific-layer h3{
	font-size: 30px;
	color:#ffffff;
	text-shadow: 0 0 4px #121212;
}

.static-main{min-height: 500px;}

.static-sidebar{
	float: right;
	width:21%;
	margin-left: 3%;
}

.static-sidebar li a{
	display: block;
	font-size: 13px;
    padding: 15px 12px 12px 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 2px #eaeaea;
    -moz-box-shadow: 0 0 2px #eaeaea;
    box-shadow: 0 0 2px #eaeaea;
}
.static-sidebar li:last-child a{margin-bottom: 0;}
.static-sidebar li a:hover{color:#f7941e;}

.static-sidebar li.active a{
	color:#ffffff;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.static-main{
	float: right;
	width:76%;
}

.contact-options li{
	float: right;
	width:32%;
	margin-right: 2%;
}
.contact-options li:first-child{margin-right: 0;}

.contact-options li a{
	display: block;
	height: 100px;
	color:#ffffff;
	text-align: center;
	padding:22px 5px;
	border-radius: 5px;
}

.contact-options li:nth-child(1) a{
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.contact-options li:nth-child(2) a{
	background:-webkit-linear-gradient(right, #365f95 , #5b8ed1);
	background:-moz-linear-gradient(left, #365f95, #5b8ed1);
	background:linear-gradient(to left, #365f95 , #5b8ed1);
}

.contact-options li:nth-child(3) a{
	background:-webkit-linear-gradient(right, #76c233 , #93d954);
	background:-moz-linear-gradient(left, #76c233, #93d954);
	background:linear-gradient(to left, #76c233 , #93d954);
}

.contact-options li a:hover{
	-webkit-transform:scale(.9,.9);
	-moz-transform:scale(.9,.9);
	transform:scale(.9,.9);
}

.contact-options li:nth-child(1) a:hover{
	background: -webkit-linear-gradient(right, #f5bf3d , #f7941e);
    background: -moz-linear-gradient(left, #f5bf3d, #f7941e);
    background: linear-gradient(to left, #f5bf3d , #f7941e);
}

.contact-options li:nth-child(2) a:hover{
	background:-webkit-linear-gradient(right, #5b8ed1 , #365f95);
	background:-moz-linear-gradient(left, #5b8ed1, #365f95);
	background:linear-gradient(to left, #5b8ed1 , #365f95);
}

.contact-options li:nth-child(3) a:hover{
	background:-webkit-linear-gradient(right, #93d954 , #76c233);
	background:-moz-linear-gradient(left, #93d954, #76c233);
	background:linear-gradient(to left, #93d954 , #76c233);
}

.contact-options li svg{font-size: 30px;}

.contact-options li strong{
	display: block;
	margin-top:5px;
}

.contact-form p{
	font-size: 13px;
	text-align: right;
	margin-bottom: 20px;
}

.contact-form p svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 4px;
}

.contact-form button{width:226px;}

.captcha{
	position: relative;
	max-width: 226px;
	text-align: center;
	padding:15px;
	margin:20px auto 0 auto;
	border:1px solid #e4e4e4;
	border-radius: 5px;
}
.captcha img{
	display: inline-block;
	vertical-align: middle;
	width:150px;
	border-radius: 4px;
}

.refresh-captcha{
	display: inline-block;
	vertical-align: middle;
	width:40px;
	height: 81px;
	line-height: 85px;
	font-size: 12px;
	color:#ffffff;
	text-align: center;
	background-color: #4a4a4a;
	border-radius: 4px;
}
.refresh-captcha:hover{background-color:#2e2e2e;}

.captcha input{margin-top:12px;}

.search-banner{
	height: 250px;
	background:url('../images/assets/abstract-pattern.png') #efefef;
}

.search-banner strong{color:#f7941e;}

.display-count strong{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color:#ffffff;
	padding:7px 8px 2px 8px;
	margin:0 3px;
	background-color: #f7941e;
	border-radius: 3px;
}

.app-page .application-box{
	display: inline-block;
	margin:5px 2.5px;
}

.app-sidebar{
	float: right;
	width:21%;
	margin-left: 4%;
}

.app-items{
	float: right;
	width:75%;
}

.app-items-wrapper{
	padding:40px 20px;
	background-color:#f6f6f6;
	border-radius: 9px;
	-webkit-box-shadow: inset 0 0 25px #e7e7e7;
	-moz-box-shadow: inset 0 0 25px #e7e7e7;
	box-shadow: inset 0 0 25px #e7e7e7;
}

.my-account-box .app-items-wrapper{margin-top:-15px;}

.filter-box:not(:last-child){margin-bottom: 12px;}

.filter-title{
	display: block;
	font-size: 14px;
	color:#2e2e2e;
	padding:10px 10px 8px 10px;
	user-select: none;
	background:url('../images/assets/plus-small.png') no-repeat 10px center;
	background-color: #ffffff;
	border:1px solid #2e2e2e;
	border-radius: 5px;
}
.filter-title.active{
	color:#ffffff;
	background: url('../images/assets/minus-small.png') no-repeat 10px center, -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: url('../images/assets/minus-small.png') no-repeat 10px center, -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: url('../images/assets/minus-small.png') no-repeat 10px center, linear-gradient(to left, #f7941e , #f5bf3d);
    border-color:#f7941e;
    -webkit-animation: scalingXY .4s ease-in-out;
	animation: scalingXY .4s ease-in-out;
}

.category-listing.games-category .filter-title.active{
	background: url('../images/assets/minus-small.png') no-repeat 10px center, -webkit-linear-gradient(right, #365f95 , #5b8ed1);
    background: url('../images/assets/minus-small.png') no-repeat 10px center, -moz-linear-gradient(left, #365f95, #5b8ed1);
    background: url('../images/assets/minus-small.png') no-repeat 10px center, linear-gradient(to left, #365f95 , #5b8ed1);
    border-color:#365f95;
}

.filter-inner-box{
	display: none;
	padding-top:12px;
}

.filter-inner-box input[type="search"]{
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding:0 10px !important;
	margin-bottom: 12px;
	border:1px solid #c4c4c4;
	border-radius: 5px;
}

.filter-items{
	max-height: 214px;
	padding:5px 10px;
	border:1px dashed #2e2e2e;
	border-radius: 5px;
}

.nicescroll-cursors{
	width:4px !important;
	margin-right: 1px !important;
	background-color: #2e2e2e !important;
}

.filter-items .checkbox-holder{margin:3px 0;}

.sort-box{
	overflow: hidden;
	margin-bottom: 15px;
	border:1px solid #2e2e2e;
	border-radius: 5px;
}

.sort-title{
	display: block;
	font-size: 13px;
	color:#ffffff;
	padding:12px 10px 10px 10px;
	background-color: #2e2e2e;
}

.sort-inner-box{
	padding:5px 12px;
	background-color:#ffffff;
}

.sort-items .radio-holder{margin:7px 0;}

.category-listing-title{
	font-size: 15px;
	margin-bottom: 15px;
}

.category-listing ul{
	max-height: 228px;
	padding:5px 10px;
	border:1px solid #2e2e2e;
	border-radius: 5px;
}

.category-listing ul li{
	font-size: 12px;
	margin:12px 0;
}

.category-listing ul li.active a,
.category-listing ul li a:hover{color:#f7941e;}

.category-listing.games-category ul li.active a,
.category-listing.games-category ul li a:hover{color:#365f95;}

.category-listing ul li svg{width:22px !important;}

.blog-slider .ms-slide .ms-layer{
	font-size: 14px !important;
	color:#ffffff;
	text-align: center;
}

.blog-slider .ms-slide .ms-layer strong{
	display: block;
	font-size: 35px !important;
	text-shadow: 0 0 5px #121212;
}

.blog-slider .ms-slide .ms-layer p{
	text-shadow: 0 0 2px #121212;
	padding:30px 0 ;
}

.blog-slider .ms-bullets{
	position: absolute;
	bottom:30px;
	left:0;
	width:100% !important;
	text-align: center;
	z-index: 99999;
}

.blog-slider .ms-bullet{
	display: inline-block;
	float: none;
	width:12px;
	height: 12px;
	margin:0 4px !important;
	background:rgba(10,10,10,.6);
	border-radius: 50%;
}

.blog-slider .ms-bullet.ms-bullet-selected{
	background-color: #f7941e;
    -webkit-animation: scalingXX .4s ease-in-out;
    animation: scalingXX .4s ease-in-out;
}

.blog-listing{margin-top:20px;}
.blog-listing > ul li{
	float: right;
	width:32%;
	overflow: hidden;
	margin-right: 2%;
	margin-bottom: 20px;
	border-radius: 7px;
}

.blog-listing > ul li:nth-child(3n+1){margin-right: 0;}

.blog-image a{display: block;}
.blog-image a:hover{opacity: .85;}

.blog-content{
	height: 250px;
	font-size: 13px;
	padding:15px;
	background-color: #ffffff;
}

.blog-content p{padding-top:10px;}

.blog-content > span{
	display: block;
	color:#a4a4a4;
	margin-top:10px;
}

.blog-content a.bttn{
	min-width: 140px;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	margin-top:20px;
}

span.date{
	display: block;
	color:#a1a1a1;
	margin-bottom:20px;
}

.static-banner .application-box{
	width:auto;
	color:#ffffff;
	margin:auto;
}

.static-banner .application-box strong{font-size: 35px;}

.specific-app{
	padding:25px;
	margin-top:40px;
	background-color: #ffffff;
	border-radius: 7px;
}

.specific-app-header{
	position: relative;
	min-height: 165px;
	text-align: right;
	padding:0 155px 0 0;
}

.app-specific-logo{
	position: absolute;
	top:25px;
	right: 0;
	border-radius: 50%;
	z-index: 9;
}

.specific-app-header strong{font-size: 18px;}

.specific-app-header .star-box{display: inline-block;}
.specific-app-header .star-box span{
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}

.specific-app-header .app-author{
	display: block;
	font-size: 12px;
	color:#717171;
	margin-top:7px;
}

.specific-app-header .app-author i{font-style: normal;}

.add-to-wishlist{
	position: absolute;
    top: -45px;
    right: -45px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 59px;
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 10;
    -webkit-box-shadow: 0 0 8px #c1c1c1;
    -moz-box-shadow: 0 0 8px #c1c1c1;
    box-shadow: 0 0 8px #c1c1c1;
}

.add-to-wishlist.active{
	color:#ffffff;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
}

.app-info{
	float: right;
	padding-top:15px;
}

.download-app a.bttn{
	min-width: 90px;
	font-size: 12px;
	margin:12px 0 0 2px;
	border-radius: 4px;
}

.download-app a.bttn::before,
.download-app a.bttn::after{display: none;}

.download-app a.bttn svg{
	font-size: 20px;
	color:#ffffff;
	margin-right: 2px;
}

.download-app a.bttn.android{
	background: -webkit-linear-gradient(right, #a4c639 , #bad85a);
    background: -moz-linear-gradient(left, #a4c639, #bad85a);
    background: linear-gradient(to left, #a4c639 , #bad85a);
}

.download-app a.bttn.apple{
	background: -webkit-linear-gradient(right, #121212 , #4a4a4a);
    background: -moz-linear-gradient(left, #121212, #4a4a4a);
    background: linear-gradient(to left, #121212 , #4a4a4a);
}

.download-app a.bttn.windows{
	background: -webkit-linear-gradient(right, #0078d7 , #46a3ec);
    background: -moz-linear-gradient(left, #0078d7, #46a3ec);
    background: linear-gradient(to left, #0078d7 , #46a3ec);
}

.download-app a.bttn.android:hover{
	background: -webkit-linear-gradient(right, #bad85a , #a4c639);
    background: -moz-linear-gradient(left, #bad85a, #a4c639);
    background: linear-gradient(to left, #bad85a , #a4c639);
}

.download-app a.bttn.apple:hover{
	background: -webkit-linear-gradient(right, #4a4a4a , #121212);
    background: -moz-linear-gradient(left, #4a4a4a, #121212);
    background: linear-gradient(to left, #4a4a4a , #121212);
}

.download-app a.bttn.windows:hover{
	background: -webkit-linear-gradient(right, #46a3ec , #0078d7);
    background: -moz-linear-gradient(left, #46a3ec, #0078d7);
    background: linear-gradient(to left, #46a3ec , #0078d7);
}

.app-details{
	float: left;
	width:270px;
	padding:5px;
	border-radius: 5px;
	box-shadow: 0 0 10px #a4a4a4;
}

.app-details table td{
	font-size: 12px;
	color:#4a4a4a;
	padding:5.5px;
	
}

.app-details table tr td:nth-child(2){
	color:#121212;
	text-align: left;
}

.app-details img{
	display: inline-block;
	vertical-align: middle;
	width:20px !important;
	margin-left: 2px;
}

.app-details svg{
	font-size: 17px;
	margin:0 3px;
}

.app-permissions ul{
	padding-right: 0;
	margin-top:25px;
}

.app-permissions ul li{
	font-size: 12px;
	color:#2e2e2e;
	margin:12px 0;
}

.app-permissions ul li svg{
	display: inline-block;
	vertical-align: middle;
	width:20px !important;
	font-size: 18px;
	color:#f7941e;
	margin-left: 5px;
}

.show-content{
	overflow: hidden;
	height: 285px;
}
.show-content.active{height: auto;}

.show-more{
	font-size: 16px;
	color:#f7941e;
	text-align: center;
	padding:20px 0;
}

.comment-box{
	position: relative;
	padding:20px;
	margin-bottom:20px;
	background-color: #f5f5f5;
	border-radius: 10px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.comment-box:hover{background-color:#ededed;}

.comment-box:last-child{margin-bottom: 0;}

.comment-box-info{
	position: relative;
	height: 44px;
}

.comment-options{
	float: left;
	padding-top:5px;
	user-select: none;
}

.comment-options a{
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	line-height: 38px;
	font-size: 15px;
	color:#4a4a4a;
	text-align: center;
	margin-right: 5px;
	border:1px solid #4a4a4a;
	border-radius: 50%;
}

.comment-options a.like-review.active{
	color:#ffffff;
	background-color: #70bf58;
	border-color:#70bf58;
	-webkit-animation: scalingXY .2s ease-in-out;
    animation: scalingXY .2s ease-in-out;
}

.comment-options a.flag-review.active{
	color:#ffffff;
	background-color: #ed5855;
	border-color:#ed5855;
	-webkit-animation: scalingXY .2s ease-in-out;
    animation: scalingXY .2s ease-in-out;
}

.comment-options span{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color:#4a4a4a;
}

.comment-header{
	position: relative;
	float: right;
	padding-right: 50px;
}

.comment-header span{
	display: block;
	font-size: 12px;
	margin-top:3px;
}

.comment-header img{
	position: absolute;
	top:0;
	right: 0;
	width:40px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 50%;
}

.comment-content{
	width: 100%;
	min-height: 127px;
	font-size: 14px;
}

.comment-box .star-box{
	text-align: right;
	margin-bottom: 5px;
}

.comment-box .star-box span{
	margin:0 -1px;
	-webkit-transform:none;
	-moz-transform:none;
	transform:none;
}

.comment-content p:first-of-type{padding-top: 0;}

.review-box p{
	position: absolute;
	left:15px;
	top:19px;
	color:#ffffff;
	padding-top:0;
}

.review-box .star-box{margin-bottom: 12px;}

.review-box input[type="submit"],
.review-box button{margin-top:25px;}

.review-box .star-box span{
	margin:0 -1px;
	cursor: pointer;
	-webkit-transform:none;
	-moz-transform:none;
	transform:none;
}

.load-more img{margin-bottom: 15px;}

.product-stats{
	position: relative;
	min-height: 200px;
	padding:15px 200px 15px 15px;
	margin: 15px 0 35px 0;
	border-radius: 4px;
}

.total-stars{
	position: absolute;
	top:8px;
	right: 0;
	width: 200px;
	text-align: center;
	padding:15px;
}

.total-stars h6{
	font-size: 10px;
    color: #c3c3c3;
    margin-top: 15px;
}

.total-stars h6 svg{
	font-size: 14px;
	margin-left: 3px;
}

.product-stats h2{
	width:100px;
	height: 100px;
	line-height: 110px;
	font-size: 44px;
	color:#ffffff;
	margin:auto;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
    border-radius: 50%;
}

.total-stars .star-box{margin-top:12px;}
.total-stars .star-box span{
	width: 24px;
	height: 23px;
	margin:0;
	background: url('../images/icons/star-big.png') no-repeat center center;
}
.total-stars .star-box span.active{background: url('../images/icons/star-big-active.png') no-repeat center center;}
.total-stars .star-box span.half-active{background: url('../images/icons/star-big-half-active.png') no-repeat center center;}

.total-stars .star-box span:nth-child(1),
.total-stars .star-box span:nth-child(5){
	-webkit-transform:translateY(-30px);
	-moz-transform:translateY(-30px);
	transform:translateY(-30px);
}

.total-stars .star-box span:nth-child(2),
.total-stars .star-box span:nth-child(4){
	-webkit-transform:translateY(-10px);
	-moz-transform:translateY(-10px);
	transform:translateY(-10px);
}

.stars-stats{
	position: relative;
	padding-right: 100px;
}

.stats-title{
	position: absolute;
	top:0;
	right: 0;
	width:90px;
	text-align: left;
}

.stats-title .star-box{
	height: 31px;
	margin-top:4px;
}

.stats-title .star-box span{
	margin:0 -1px;
	-webkit-transform:none;
	-moz-transform:none;
	transform:none;
}

.stars-stats li{
	overflow: hidden;
	height: 27px;
	line-height: 30px;
	margin:8px 0;
}

.stars-stats li span{
	display: block;
	height: 100%;
	font-size: 12px;
	color:#ffffff;
	text-align: right;
	padding-right: 10px;
	border-radius: 22px;
}

.stars-stats li:nth-child(1) span{
	background: -webkit-linear-gradient(right, #70bf58 , #89d073);
    background: -moz-linear-gradient(left, #70bf58, #89d073);
    background: linear-gradient(to left, #70bf58 , #89d073);
}

.stars-stats li:nth-child(2) span{
	background: -webkit-linear-gradient(right, #56a6cf , #73bfe6);
    background: -moz-linear-gradient(left, #56a6cf, #73bfe6);
    background: linear-gradient(to left, #56a6cf , #73bfe6);
}

.stars-stats li:nth-child(3) span{
	background: -webkit-linear-gradient(right, #f1d461 , #fee377);
    background: -moz-linear-gradient(left, #f1d461, #fee377);
    background: linear-gradient(to left, #f1d461 , #fee377);
}

.stars-stats li:nth-child(4) span{
	background: -webkit-linear-gradient(right, #ffb73a , #ffc258);
    background: -moz-linear-gradient(left, #ffb73a, #ffc258);
    background: linear-gradient(to left, #ffb73a , #ffc258);
}

.stars-stats li:nth-child(5) span{
	background: -webkit-linear-gradient(right, #ed5855 , #fe7875);
    background: -moz-linear-gradient(left, #ed5855, #fe7875);
    background: linear-gradient(to left, #ed5855 , #fe7875);
}

.dashboard{padding:20px 0;}

span.draggable{
	position: absolute;
	top:40px;
	left:55%;
	display: none;
	width: 30px;
	height: 31px;
	background: url('../images/icons/drag.svg') no-repeat center;
	background-size: 30px;
	z-index: 10;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

span.draggable.is-hidden{
	visibility: hidden;
	opacity: 0;
}

.dashboard-tabs{
	position: relative;
	padding-left: 70px;
}

.dashboard-tabs ul li{
	float: right;
	margin:0 4px;
}

.dashboard-tabs ul li a{
	display: block;
	font-size: 13px;
	color:#121212;
	text-align: center;
	padding:14px 7px;
}

.dashboard-tabs ul li a svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 5px;
}
.dashboard-tabs ul li:first-child{margin-right: 0;}
.dashboard-tabs ul li a:hover{color:#f7941e;}

.dashboard-tabs ul li.active a{
	min-width: 130px;
	color:#f7941e;
	padding:14px 10px;
	background-color:#ffffff;
	border-radius: 9px 9px 0 0;
}

.dashboard-tabs a.exit{
	position: absolute;
	top:14px;
	left: 10px;
	display: inline-block;
	font-family: 'Iran-Medium';
	font-size: 13px;
	color:#fb6464;
}
.dashboard-tabs a.exit:hover{color:#f53b3b;}

.dashboard .section-box{border-top-right-radius: 0;}
.dashboard .section-box-content{padding:50px 30px 30px 30px;}

.dashboard-banner-layer img{
	width: 150px;
	padding:5px;
	border:3px solid #121212;
	border-radius: 50%;
}

.dashboard-banner-layer strong{
	display: block;
	font-family: 'Iran-Medium';
	font-size: 22px;
	color:#121212;
	margin-top:15px;
}

.dashboard-banner-layer span{
	display: inline-block;
    font-size: 13px;
    color: #121212;
    padding: 10px 15px 7px 15px;
    margin-top: 12px;
    background: -webkit-linear-gradient(right, #e4af18 , #fcc62d);
    background: -moz-linear-gradient(left, #e4af18, #fcc62d);
    background: linear-gradient(to left, #e4af18 , #fcc62d);
    border-radius: 5px;
}

.dashboard-banner-layer span i{
	display: inline-block;
	font-family: 'Iran-Medium';
	font-style: normal;
	color:#ffffff;
	margin-right: 4px;
}

.my-account-box ul li{margin:14px 0;}
.my-account-box ul li:first-child{margin-top:0;}
.my-account-box ul li:last-child{margin-bottom: 0;}

.my-account-box .pagination ul li{margin:10px 2px;}

.my-account-box ul li > strong{
	display: inline-block;
	vertical-align: middle;
	width:130px;
	font-family: 'Iran-Medium';
	font-size: 11px;
}

.my-account-box ul li > span{
	display: inline-block;
	vertical-align: middle;
	color:#3079AB;
}

.my-account-box ul li img:not(.uploaded-image):not(.text-editor-image){
	display: inline-block;
	vertical-align: middle;
	width: 80px !important;
	height: 80px !important;
	margin:0;
	border:2px solid #3e474f;
	border-radius: 4px;
}
.text-editor-image{margin:0;}

.my-account-box input,
.my-account-box select,
.my-account-box .ui-selectmenu-button{min-width: 300px;}
.my-account-box input{padding:0 20px;}

.my-account-box button{
	display: inline-block;
	max-width: 200px;
	margin-top:40px;
}

.my-account-box .radio-holder{
	display: inline-block;
	width:auto;
	margin:0 0 0 10px;
}

.my-account-box .checkbox-holder input[type="checkbox"] + label{font-size: 13px;}

.my-review-box .application-box a:not(.add-to-wishlist){
	padding:30px 22px 50px 22px;
	border:2px solid #212121;
}

.my-review-box .application-box a:not(.add-to-wishlist) strong{
	position: absolute;
	bottom: 0;
    left: 0;
    font-size: 12px;
	color: #ffffff;
    width: 100%;
    padding: 9px 5px 7px 5px;
    margin-top:0;
    background-color: #212121;
    -webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.my-review-box .application-box a:hover{border-color:#f7941e;}
.my-review-box .application-box a:hover strong{background-color:#f7941e;}

.my-review-box .application-box a:not(.add-to-wishlist) svg{
	top:8px;
	left:11px;
	font-size: 22px;
}

.my-account-box .pagination{padding:35px 0 10px 0;}

.my-account-box .add-to-wishlist{
	top: -12px;
    right: -12px;
    width: 36px;
    height: 36px;
    line-height: 42px;
    font-size: 14px;
    -webkit-box-shadow: 0 0 5px #c1c1c1;
    -moz-box-shadow: 0 0 5px #c1c1c1;
    box-shadow: 0 0 5px #c1c1c1;
}

.my-review-box{
	position: relative;
	padding-right: 170px;
	margin-bottom: 20px;
}

.my-review-box:last-child{margin-bottom: 10px;}
.my-review-box .comment-box{margin-bottom: 0;}
.my-review-box .comment-content{font-size: 13px;}

.my-review-box .application-box{
	position: absolute;
    top: 0;
    right: 0;
    width: 155px;
    margin: 0;
}

.download-history table th:not(:nth-child(2)),
.download-history table td:not(:nth-child(2)){text-align: center;}

.download-history table svg{
	font-size: 22px;
	margin:0 2px;
}

.history-app-info a{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}

.history-app-info img{
	width:40px;
	margin-left: 7px;
	border-radius: 50%;
}

.credit-box img{margin:25px auto;}

.credit-box h6 strong{
	display: inline-block;
	width:80px;
    color: #ffffff;
    padding: 7px 10px 4px 10px;
    background: -webkit-linear-gradient(right, #e4af18 , #fcc62d);
    background: -moz-linear-gradient(left, #e4af18, #fcc62d);
    background: linear-gradient(to left, #e4af18 , #fcc62d);
    border-radius: 5px;
}

.add-credit p{
	font-size: 13px;
	margin:20px 0 10px 0;
}

.add-credit input{
	display: inline-block;
	vertical-align: middle;
	min-width: 0;
	width: 150px;
	text-align: center;
	margin-left: 15px;
}

.add-credit input:focus{
	-webkit-animation: scalingXY .4s ease-in-out;
	animation: scalingXY .4s ease-in-out;
}

.add-credit button{
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	margin-top:0;
}

.credit-history .table th{
	color:#ffffff;
	padding:10px;
	background-color:#2e2e2e;
	border:1px solid #444444;
	border-radius: 0;
}

.credit-history .table td{
	padding:10px 10px 7px 10px;
	border:1px solid #e9e9e9;
}

.credit-history .table td svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin-left: 5px;
}

.credit-history table th:not(:nth-child(2)),
.credit-history table td:not(:nth-child(2)){text-align: center;}

.credit-history span.plus{color:#61b500;}
.credit-history span.minus{color:#f44336;}
.credit-history span.ok{color:#84ce2e;}
.credit-history span.pending{color:#e8d100;}
.credit-history span.failed{color:#e66960;}

span.price{
	direction: ltr;
	display: inline-block;
}

span.condition{font-size: 12px;}
span.condition svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 18px;
	margin-left: 2px;
}

.choose-platform label svg{
	display: inline-block;
	font-size: 21px !important;
    margin-top: -3px;
}

.choose-platform .checkbox-holder{margin-left: 15px;}

.permissions{margin:12px 0;}
.permissions .checkbox-holder{
	display: inline-block;
	width:auto;
	margin:5px;
}

.upload-app-box{
	text-align: right;
	margin:auto;
	background-color: #ffffff;
}

.upload-app-box button{
	display: block;
	max-width: 100%;
	margin-top:25px;
}

.uploaded-gallery-box,
.uploaded-files{margin-top:20px;}

.uploaded-gallery-box ul li{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin:7px !important;
}

.uploaded-files ul li{margin:10px 0;}

.uploaded-gallery-box ul li img{
	width:100px !important;
	border-radius: 5px;
}

.uploaded-gallery-box input[type="hidden"],
.uploaded-files input[type="hidden"]{display: none;}

span.upoaded-file-name{color:#2e2e2e !important;}

a.remove-gallery-image{
	position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/assets/remove.png') no-repeat center center #ffffff;
    border:1px solid #eaeaea;
    border-radius: 50%;
    z-index: 6;
}

a.remove-file{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin:-3px 0 0 10px;
    background: url('../images/assets/remove-white.png') no-repeat center center #e64629;
    border-radius: 50%;
    z-index: 6;
}

a.remove-gallery-image:hover,
a.remove-file:hover{
	-webkit-transform:scale(.9,.9);
	-moz-transform:scale(.9,.9);
	transform:scale(.9,.9);
}

.developer-status > div{
	display: inline-block;
	vertical-align: middle;
	width:180px;
	height: 180px;
	color:#ffffff;
	padding-top:40px;
	margin:10px;
	user-select: none;
	background:#2d2b2b;
	border:5px solid #000000;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 15px #919191;
	-moz-box-shadow: 0 0 15px #919191;
	box-shadow: 0 0 15px #919191;
}

.developer-status svg{font-size: 26px;}

.developer-status > div:nth-child(1) svg{color:#249eff;}
.developer-status > div:nth-child(2) svg{color:#37ce16;}
.developer-status > div:nth-child(3) svg{color:#fcc62d;}

.developer-status span{
	display: block;
	font-size: 11px;
	margin:5px 0 2px 0;
}

.developer-status strong{
	display: block;
	font-family: 'Iran-Medium';
	font-size: 30px;
}

.add-application{
	padding-top:35px;
	margin:20px 0;
	border-top:1px solid #e4e4e4;
}

.add-application a.bttn svg{margin:0 0 0 7px;}


/*   Added Styles by Back-end   */







/*   Added Styles After Q&A   */






