/*   Main Styles by Front-end   */

.header{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100px;
	padding:15px 20px;
	background: -webkit-linear-gradient(right, #f7941e , #f5bf3d);
    background: -o-linear-gradient(left, #f7941e, #f5bf3d);
    background: -moz-linear-gradient(left, #f7941e, #f5bf3d);
    background: linear-gradient(to left, #f7941e , #f5bf3d);
	background-color: #f7941e;
	z-index: 99999999;
}

.logo{
	float: right;
	margin-left: 30px;
}

.logo img{
	margin:0;
	border:4px solid #f6f6f6;
	border-radius: 50%;
}

.search{
	position: relative;
	float: right;
	width:400px;
	margin-top:15px;
}

.search button{
	position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    min-width: 0;
    width: 34px;
    height: 34px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin-top: 0;
    background-color: #2e2e2e;
    border-radius: 50%;
}

.search button:hover{background-color: #000000;}

.header-items{
	float: left;
	margin-top:18px;
}

.header-items a{
	display: inline-block;
	vertical-align: middle;
	width:34px;
	height: 34px;
	line-height: 34px;
	color:#2e2e2e;
	text-align: center;
	margin-right: 4px;
	border:2px solid #2e2e2e;
	border-radius: 50%;
}

.header-items a:hover{
	color:#ffffff;
	background-color: #000000;
	border-color:#000000;
}

.main-banner .section{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover !important;
}

.image-box-description{padding:95px;}

.height-1{height: 786px;}
.height-2{height: 524px;}
.height-3{height: 262px;}

.image-box-layer{
	display: block;
	width:100%;
	height: 100%;
	padding-top:20px;
	opacity: 0;
	background: rgba(21,21,21, .85);
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.image-box-layer:hover{
	padding-top:0;
	opacity: 1;
}

.sidebar{
	float: right;
	width:18%;
	margin-left: 3%;
}

.sidebar-inside{
	width:219.59px !important;
	overflow: hidden;
	border: 1px solid #eaeaea;
	border-radius: 5px;
}

.main{
	float: right;
	width:79%;
}

.operating-systems a{
	display: block;
	float: right;
	width:33.3333333%;
	height: 60px;
	line-height: 68px;
	font-size: 25px;
	color:#4a4a4a;
	text-align: center;
	background-color:#ffffff;
	border-left: 1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
}
.operating-systems a:last-child{border-left: none;}

.operating-systems a.active{background-color: #f7f7f7;}

.operating-systems .android.active{color: #a4c639;}
.operating-systems .ios.active{color: #000000;}
.operating-systems .windows.active{color: #0078d7;}

.inner-sidebar{
	padding:15px 0;
	background-color:#ffffff;
}

.inner-sidebar ul li a{
	display: block;
	padding:12px 20px;
}

.inner-sidebar ol li a{
	display: block;
	font-size: 13px;
	padding:9px 20px;
}

.inner-sidebar ul li a svg{
	display: inline-block;
	vertical-align: middle;
	width:30px !important;
	font-size: 15px;
	text-align: center;
	margin-left: 5px;
}

.inner-sidebar ol li a svg{
	display: inline-block;
	vertical-align: middle;
	width:25px !important;
	font-size: 13px;
	text-align: center;
	margin-left: 5px;
}

.inner-sidebar ul li a:hover,
.inner-sidebar ol li a:hover{
	color:#f7941e;
	background-color:#f7f7f7;
}

.ms-slide .ms-slide-bgcont img{
	width:90px !important;
	height: 90px !important;
	margin:auto !important;
	border-radius: 10px;
}

.title{margin-bottom: 40px;}

.app-section-box{margin-bottom: 40px;}
.app-section-box::after{
	content:'';
	display: block;
	width: 60%;
	height: 1px;
	margin: 40px auto 0 auto;
	background-color: #dfdfdf;
}

.application-box{width:150px;}
.carousel-slider .application-box{margin:auto;}
.carousel-items .application-box{margin:0 5.5px;}

.application-box a{
	position: relative;
	display: block;
	text-align: center;
	padding:30px 20px 20px 20px;
	background-color: #ffffff;
	border-radius: 5px;
}

.application-box a svg{
	position: absolute;
	top:7px;
	font-size: 19px;
}

.application-box a svg:nth-of-type(1){left:7px;}
.application-box a svg:nth-of-type(2){left:32px;}
.application-box a svg:nth-of-type(3){left:57px;}

.application-box a svg[data-icon="android"]{color: #a4c639;}
.application-box a svg[data-icon="apple"]{color: #000000;}
.application-box a svg[data-icon="windows"]{color: #0078d7;}

.application-box a:hover{
	-webkit-box-shadow: 0 0 20px #d4d4d4;
	-moz-box-shadow: 0 0 20px #d4d4d4;
	box-shadow: 0 0 20px #d4d4d4;
}

.application-box strong{
	display: block;
	font-size: 12px;
	margin-top:12px;
}

.application-box img{border-radius: 50%;}

.see-more{
	text-align: center;
	margin-top:30px;
}

.ads{
	overflow: hidden;
	margin:30px 0;
}

.ads a{display: block;}
.ads img{border-radius: 7px;}

.ads.type-2 a{
	float: right;
	width:49%;
	margin-right: 2%;
}
.ads.type-2 a:first-child{margin-right: 0;}

.footer{
	overflow: hidden;
	color:#f6f6f6;
	padding:40px 0;
	background-color:#2e2e2e;
}

.footer ul{float: left;}
.footer ul li{
	display: inline-block;
	margin-right: 15px;
}
.footer ul li a:hover{color:#f7941e;}

/*   Added Styles by Back-end   */







/*   Added Styles After Q&A   */






